# This is the global gitconfig format in ~/dotfiles.

[user]
	name = Alex Hurst
	email = ahurst@illuminateed.net
[core]
	excludesfile = ~/.gitignore_global
[commit]
	template = ~/.git_commit_template.txt
	verbose = true
[diff]
    renames   = true
    algorithm = minimal
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[alias]
    st = "status -u"
    co = checkout
    c = commit
    d = diff
    ds = diff --stat
    dns = diff --numstat
    dc = diff --cached
    dcs = diff --cached --stat
    dcns = diff --cached --numstat
    dsc = diff --cached --stat
    dnsc = diff --cached --numstat
    chardiff = diff --word-diff=color --word-diff-regex='.'
    ai = add -i
    o = open
    cge = config --global --edit
    ceg = config --global --edit

    # Install the below subcommand via:
    # npm install --global git-open

    # http://stackoverflow.com/a/34467298
    lg = !"git lg1"
    lgme = !"git lg1me"
    lg1 = !"git lg1-specific"
    lg1me = !"git lg1-specific --author=hurst --all"
    lg2 = !"git lg2-specific"
    lg2me = !"git lg2-specific --author=hurst --all"
    lg3 = !"git lg3-specific"
    lg3me = !"git lg3-specific --author=hurst --all"

    lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'
	unstage = reset --

    # http://stackoverflow.com/questions/61212/how-to-remove-local-untracked-files
    # Clean in interactive mode, and include untracked directories
    iclean = !"git clean --interactive -d"

    difffiles = diff --numstat --name-only
    branchfiles = !"git difffiles master...HEAD"
    diffbranch = diff master...HEAD

    remotes = remote -v
    branches = branch
    stashes = stash list
    tags = tag

[merge]
	conflictstyle = diff3

[rebase]
    missingCommitsCheck = error

[interactive]
    singleKey = true
